---

layout : default
title : Wedding Archive
---
<div class="journal">
<h2>{{page.title}}</h2>
<section class="archive"><div class="journal-container">   
        {% for post in site.posts%}
          <div class="images">
              <div class="image-background"><a href="{{ post.url }}"> 
                  
                <img src="{{post.img}}"/>
                <div class="description">
                  <h3>{{ post.title }}</h3>
                  <p class="read-more">READ MORE</p>

                </div>

                </a>
            
            </div>

            </div>
           

        {%endfor%}
      </div>
    </section>
  <a href="/archive.html"><h3>BACK TO TOP</h3></a>

  </div>

      {% include footer.html %}