---
layout: default
title: Instinct Wedding
---


<html lang="en">


<head>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
    <div class="mobile-hero">
      </div>

    <section class="hero">
      <iframe src="https://player.vimeo.com/video/309471805?background=1" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      </section>
      
<section class="info">
  <h2>Personal, natural, creative</h2> <h2>wedding photography and video</h2>
</section>

{% include gallery.html %}

{% include about.html %}

{% include slideshow.html %}

{% include prices.html %}

{% include awards.html %}

{% include contact.html %}

{% include journal.html %}


{% include footer.html %}




</body>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</html>