---
layout: default
title: Instinct Wedding
---


<html lang="en">
  {% include head.html %}


<body>
    <div class="mobile-hero">
      
      </div>

    <!-- <section class="hero">
    
      <iframe title="Styled Feature Video Homepage" src="https://player.vimeo.com/video/358776993?background=1" allow="autoplay; fullscreen" allowfullscreen="" width="100%" height="100%" frameborder="0"></iframe>  
    </section>


{% include gallery.html %} -->

{% include about.html %}

{% include slideshow.html %}

{% include prices.html %}

{% include kind-words.html %}

{% include contact.html %}

{% include journal.html %}

{% include awards.html %}

{% include footer.html %}


</body>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</html>