<head>
    <title>About</title>
    
    <meta name="description" content=" We are Justina and Lloyd, a wife and husband team, working together to create beautiful wedding photos and videos based in Kent.">

    <meta property="og:title" content="About Instinct Wedding- Kent based wedding photography and video team, producing beautiful, documentary style wedding photography and films. Covering Kent, London, East Sussex, Surrey and surrounding areas.">

    <meta property="og:description" content="About us - We are Justina and Lloyd, a wife and husband team, working together to create beautiful wedding photos and videos based in Kent">

    <meta property="og:image" content="https://www.instinctwedding.com/assets/images/about.jpg" alt="About Us - Instinct Wedding Photographers in Kent ">

    <meta property="og:url" content="http://www.instinctwedding.com/about">

    <meta name="About" content=" About us - We are Justina and Lloyd, a wife and husband team, working together to create beautiful wedding photos and videos bassed in Kent">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="/assets/css/app.css">

</head>