<section id="about" class="about">
   
        <div class="about-container">
            <div class="about-image">
                    <h2 class="mobile-about">Hello
                        </h2><img src="/assets/images/about.jpg" alt="Llyod & Justina, Wedding Photography Couple, Husband and Wife">
            </div>
              
            
            <div class="about-text">
                <div>
                  <h2>Hello</h2>
                  <p>We are Justina and Lloyd, a wife and husband team, working together to create beautiful wedding photos and videos.</p>
  
                  <p>We both have background in Fine Art, and having worked and experimented with many art mediums and techniques, we fell in love with photography and video and the ability to capture memories for generations to remember.</p>
                  
                  <p>On the wedding day, whether we are doing photography, video or both, we try and stay discreet, positive, helpful and most importantly concentrating on capturing all the beautiful moments, emotions, events as they unfold.</p>
                  
                  <p>We live in Tunbridge Wells and are happy to cover your beautiful wedding anywhere in UK or Europe - get in touch!</p>
                  
                  <p>When we are not working, we love spending time in nature, going on road trips and discovering heritage villages.</p>               </div>
                    <a class="about-contact" href="/contact">Get in touch</a>
                </div>
        </div>
</section>