<head>
    <title>Instinct Wedding - About </title>
    <meta name="description" content="About us - We are Justina and Lloyd, a wife and husband team, working together to create beautiful wedding photos and videos based in Kent">
<meta property="og:title" content="Instinct Wedding - Kent based wedding photography and video team, producing beautiful, documentary style wedding photography and films. Covering Kent, London, East Sussex, Surrey and surrounding areas.">
<meta property="og:description" content="About us - We are Justina and Lloyd, a wife and husband team, working together to create beautiful wedding photos and videos based in Kent">
<meta property="og:image" content="https://www.instinctwedding.com/assets/images/about.jpg" alt="Instinct Wedding Team, Kent Wedding photography couple">
<meta property="og:url" content="http://www.instinctwedding.com">

<meta name="viewport" content="width=device-width, initial-scale=1">





<!--  Non-Essential, But Recommended -->
<meta porperty="og:type" content="website">
<meta property="og:site_name" content="Instinct Wedding - About">
<meta property="keywords" content=" About page of instinct wedding kent, wedding, photography, videography, natural,  uk, documentary ">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="/assets/css/app.css">

</head>