<head>
    <title>Blog - Instinct Wedding</title>
<meta property="og:title" content="Blog - Instinct Wedding - Kent based wedding photography and video couple, producing beautiful, documentary style wedding photography and films. Covering Kent, London, East Sussex, Surrey and surrounding areas.">
<meta property="og:description" content="Check our blog to see the latest work of Instinct Weddings. See posts from some amazing couples weddings as well as tips and advise for you own wedding">
<meta property="og:image" content="https://www.instinctwedding.com/assets/images/about.jpg" alt="Instinct Wedding Team, Kent Wedding photography couple">
<meta property="og:url" content="http://www.instinctwedding.com/blog/">

<meta name="description" content="Check our blog to see the latest work of Instinct Weddings. See posts from some amazing couples weddings as well as tips and advise for you own wedding">


<!--  Non-Essential, But Recommended -->
<meta property="og:type" content="website">
<meta property="og:site_name" content="Blog Instinct Wedding">
<meta property="keywords" content="Blog page of Instinct Wedding, Kent weddding photography and videograpghy ">

</head>