

<section id="contact" class="contact">
    <div class="queries">
        <h2>Got a question?<br>Check out our <a href="/frequently-asked-questions.html">FAQ</a><br>Or send us a email at <br><a href="mailto:hello@instinctwedding.com">hello@instinctwedding.com</a></h2>
      </div>
      
        
      <div class="contact-form">
        <form>
            <h2>Booking Enquiries</h2>

          <input type="text" placeholder="Name" name="name">
          <input type="text" placeholder="Email" name="email">
          <input type="text" placeholder="dd / mm / yyyy">
          <input type="text" placeholder="Wedding Venue" name="venue">
          <input type="text" placeholder="Price Package" name="package">
          <input type="text" placeholder="Extra's" name="extra">
          <textarea placeholder="Message" name="message"></textarea>
          <button class="submit">Submit</button>  </form>
      </div>
       
      </section>