

<section id="contact" class="contact">
  <div class="queries-container"><div class="queries">
      <h2>Got a question?<h2>
      <h2>Check out our <a href="/frequently-asked-questions.html">FAQ</a></h2>
      <h2>Or send us a email at</h2>
      <h2><a href="mailto:hello@instinctwedding.com">hello@instinctwedding.com</a></h2>
    </div>
  </div>
    
      
        
      <div class="contact-form">
        <form>
            <h2>Booking Enquiries</h2>

          <input type="text" placeholder="Name" name="name">
          <input type="text" placeholder="Email" name="email">
          <input type="text" placeholder="dd / mm / yyyy">
          <input type="text" placeholder="Wedding Venue" name="venue">
          <input type="text" placeholder="Price Package" name="package">
          <input type="text" placeholder="Extra's" name="extra">
          <textarea placeholder="Message" name="message"></textarea>
          <button class="submit">Submit</button>  </form>
      </div>
       
      </section>