<section class="contact">

        <div class="contact-quote">
          <h2>We would absolutely love to hear from you!</h2>
          <img src="/assets/images/Nicollette-and-Mikey-025.jpg">
        </div>
      
      <div class="contact-form">
        <form>
          <input type="text" placeholder="Name" name="name">
          <input type="text" placeholder="Email" name="email">
          <input type="text" placeholder="dd / mm / yyyy">
          <input type="text" placeholder="Wedding Venue" name="venue">
          <input type="text" placeholder="Price Package" name="package">
          <input type="text" placeholder="Extra's" name="extra">
          <textarea placeholder="Message" name="message"></textarea>
          <button class="submit">Submit</button>  </form>
      </div>
       
      </section>