<footer>

  

        <nav class="media">
    
        <h3>Instinct Feed</h3>
    
        <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/InstinctWedding/" alt="Facebook">Facebook</a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/instinctwedding/" alt="Instagram">Instagram</a>
        <a target="_blank" rel="noopener noreferrer" href="https://vimeo.com/instinctwedding" alt="Vimeo">Vimeo</a>
        </nav>
    
        
       
        <div class="links-right">
    
            <div class="right-title">
                <h3>Instinct Wedding</h3>
    
        <nav class="main-sections">
          <a href="/blog">Blog</a>
          <a href="/about">About</a>
          <a href="/prices">Prices</a>
          <a href="/contact">Contact</a>
        </nav>
      </div>
    
        <nav class="secondary-sections">
          <a href="/frequently-asked-questions.html">Frequent Asked Questions</a>
          <a href="/privacy-policy.html">Privacy Policy</a>
          <a href="/engagment-sesson.html">Couple Sessions</a>
          <a href="https://looping-squares-2.superhi.com/">Made by TW</a>
    
        </nav>
    
      </div>
    </footer>