<footer>

  

        <nav class="media">
    
        <h3>Instinct Feed</h3>
    
        <a href="https://www.facebook.com/InstinctWedding/">Facebook</a>
        <a href="https://www.instagram.com/instinctwedding/">Instagram</a>
        <a href="https://vimeo.com/instinctwedding">Vimeo</a>
        </nav>
    
        
       
        <div class="links-right">
    
            <div class="right-title">
                <h3>Instinct Wedding</h3>
    
        <nav class="main-sections">
          <a href="#">Journal</a>
          <a href="#">About</a>
          <a href="#">Prices</a>
          <a href="#">Contact</a>
        </nav>
      </div>
    
        <nav class="secondary-sections">
          <a href="#">Frequent Asked Questions</a>
          <a href="#">Privacy Policy</a>
          <a href="/engagment-sesson.html">Couple Sessions</a>
          <a href="#">Made by TW</a>
    
        </nav>
    
      </div>
    </footer>