<section class="galleries" id="galleries">
        <h2>Portfolio</h2>
    <div class="gallery-nav">
    
         <h3 class="photography selected">Photography</h3><div></div>
         <h3 class="videography">Videography</h3>
    </div>

   

     <div class="photography-section open">
         <div class="images">
             <div class='image'>
                 <div class="photo-overlay">
                     </div>
                         <img src="/assets/images/image-1.jpg" alt="Penshurst Place , Garderns , Photography , Video">
                     </div>
             <div class='image'>
                     <div class="photo-overlay">
                         </div>
                         <img src="/assets/images/image-2.jpg" alt="The Conservatory at Painshill Cobham, Surrey, Photography , Video">
                     </div>
             <div class='image'>
                     <div class="photo-overlay">
                         </div>
                         <img src="/assets/images/image-3.jpg" alt="The Old Rectory">
                     </div>
             <div class='image'>
                     <div class="photo-overlay">
                         </div>
                         <img src="/assets/images/image-4.jpg" alt="Kings Wood">
                     </div>
             <div class='image'>
                     <div class="photo-overlay">
                         </div>
                         <img src="/assets/images/image-5.jpg" alt="Penshurst Place and Gardens.">
                     </div>
             <div class='image'>
                     <div class="photo-overlay">
                         </div>
                         <img src="/assets/images/image-6.jpg" alt="The Old Rectory, Sunset">
                     </div>
             <div class='image'>
                     <div class="photo-overlay">
                         </div>
                         <img src="assets/images/image-7.jpg" alt="Scotland, Altskeith House, Autumn, Sunset, Nature">
                     </div>
             <div class='image'>
                     <div class="photo-overlay">
                         </div>
                         <img src="/assets/images/image-8.jpg" alt="Childston Park Hotel">
                     </div>   
             <div class='image'>
                     <div class="photo-overlay">
                         </div>
                     <img src="/assets/images/image-9.jpg" alt="Kent Countryside">
             </div> 
             
                <div class="view-more">
                    <a href="https://instinctwedding.pic-time.com/portfolio">View More</a> 
                </div>
        
             
         </div>
         
         <div class="modal">
             <div class="modal-background"></div>
                     <div class="modal-close">Close</div>
                     <div class="modal-content"></div>

         </div>
        
     </div>

     
    
    

     <div class="videography-section" id="top">    
         <div class="videos">
             <div class='video'>
                 <div class="overlay">
                     <h4>Claire + James</h4>
                 </div>
                 <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/358590638?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js" alt="Claire + James, Video"></script>             </div>

             <div class='video'>
                     <div class="overlay">
                         <h4>Nicole + Joe</h4>
                     </div>
                     <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/351904328?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js" alt="Nicole + Joe ,Video"></script> </div>
             <div class='video'>
                 <div class="overlay">
                     <h4>Becky + Georgina</h4>
                 </div>
                 <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/298564908?color=efd200&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js" alt="Becky + Georgina, Video"></script>                    </div>
             
             <div class='video'>
                 <div class="overlay">
                     <h4>Dovilė + Aurimas</h4>
                 </div>
                 <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/303714155?color=efd200&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js" alt="Dovilė + Aurimas, Video"></script>                    </div>
             
             <div class='video'>
                 <div class="overlay">
                     <h4>Rosie + Sanj</h4>
                 </div>
                 <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/363851837?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js" alt="Rosie + Sanj, Video"></script>                  </div>
             <div class='video'>
                 <div class="overlay">
                     <h4>Jen + Jack</h4>
                 </div>
                 <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/293785310?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js" alt="Jen + Jack, Video"></script>                        </div>

             <div class='video'>
                 <div class="overlay">
                     <h4>Annette & Nathan</h4>
                 </div>
                 <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/369467292?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js" alt="Annette & Nathan, Video"></script> </div>
             <div class='video'>
                 <div class="overlay">
                     <h4>Lisa + Jonathan</h4>
                 </div>
                 <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/344483576?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js" alt="Lisa + Jonathan,Video"></script>      </div>             
             <div class='video'>
                 <div class="overlay">
                         <h4>Jen + Matt</h4>
                     </div>
                     <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/356067819?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js" alt="Jen + Matt, Video"></script>
         </div>


         <div class="modal">
             <div class="modal-background"></div>
             <div class="modal-close">Close</div>
             <div class="modal-content"></div>
         </div>

         <div class="view-more">
            <a href="https://vimeo.com/instinctwedding">View More</a> 
        </div>    
         
         
     </div>
   

 </section>
