<head>
    <title>Instinct Wedding | Wedding Photography & Videography in Kent </title>
<meta property="og:title" content="Instinct Wedding | Wedding Photography & Videography in Kent">
<meta property="og:description" content="Find out who is Instinct Wedding team, what we do and contact us about your wedding photography or videography.">
<meta property="og:image" content="http://www.instinctwedding.com/assets/images/image-6.jpg">
<meta property="og:url" content="http://www.instinctwedding.com">

<meta name="viewport" content="width=device-width, initial-scale=1">





<!--  Non-Essential, But Recommended -->
<meta porperty="og:type" content="website">
<meta property="og:site_name" content="Instinct Wedding">
<meta property="keywords" content=" kent, wedding, photography, videography, natural,  uk, documentary ">


<link rel="stylesheet" href="/assets/css/app.css">

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>


</head>
