<head>

    <title>Instinct Wedding - Kent based wedding photography and video team, producing beautiful, documentary style wedding photography and films. Covering Kent, London, East Sussex, Surrey and surrounding areas </title>
    <meta name="description" content="Instinct Wedding offers photography and videography packages for couples, getting married in Kent, London, East Sussex, Surrey and surrounding areas. We are a husband and wife team, specialising in natural, documentary, candid style, emotional wedding photos and videos. Contact us to arrange a free, non-obligatory consultation.">
<meta property="og:title" content="Instinct Wedding - Kent based wedding photography and video team, producing beautiful, documentary style wedding photography and films. Covering Kent, London, East Sussex, Surrey and surrounding areas.">
<meta property="og:description" content="Instinct Wedding offers photography and videography packages for couples, getting married in Kent, London, East Sussex, Surrey and surrounding areas. We are a husband and wife team, specialising in natural, documentary, candid style, emotional wedding photos and videos. Contact us to arrange a free, non-obligatory consultation. ">
<meta property="og:image" content="https://www.instinctwedding.com/assets/images/image-6.jpg" alt="Instinct Wedding, Sunset, Nature, photography">
<meta property="og:url" content="http://www.instinctwedding.com">

<meta name="viewport" content="width=device-width, initial-scale=1">





<!--  Non-Essential, But Recommended -->
<meta porperty="og:type" content="website">
<meta property="og:site_name" content="Instinct Wedding">
<meta property="keywords" content=" kent, wedding, photography, videography, natural,  uk, documentary ">



<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>


</head>
