<section id="journal" class="journal">
    <h2> Journal </h2>

          <div class="journal-container">   
          {% for post in site.posts limit:3 %}
            <div class="images">
                <div class="image-background"><a href="{{ post.url }}"> 
                    
                  <img src="{{post.img}}"/>

                </div>
              

                


              </div>
              <div class="description">
              <h3>{{ post.title }}<img src="assets/images/chevron.svg"></h3>
              <p>{{ post.excerpt}}</p>
              </div>
            </a>

          {%endfor%}
        </div>
        <h3 class="older-posts"><a href="/archive.html">View More</a></h3>
</section>

