<section id="journal" class="journal">
    <h2>Weddings</h2>

          <div class="journal-container">   
          {% for post in site.posts limit:3 %}
            <div class="images">
                <div class="image-background"><a href="{{ post.url }}"> 
                    
                  <img src="{{post.img}}"/>
                  <div class="description">
                    <h3>{{ post.title }}</h3>
                    <p class="read-more">READ MORE</p>
                  </div>
                  </a>
              
              </div>

            

               
              </div>
            

          {%endfor%}
        </div>
        <h3 class="older-posts"><a href="/archive.html">View More</a></h3>
</section>

