<section class="quote-section" id="kindwords">
  <h2>Kind Words</h2>
    <div class="quote-slideshow">
        <div class="quote-holder">
          <div class="quote">
              <p class="testimonal">“Justina and Lloyd are simply amazing. They captured our wedding day perfectly, 
                we are so pleased with our beautiful pictures and video.” </p>

                <h3 class="client">Kit, the Bride</h3>
          </div>

          <div class="quote">
              <p class='testimonal'>
                “The quality of the filming and editing was fantastic. He did an excellent job of capturing our day and made us feel really comfortable.” 
              </p>
              <h3 class="client">Rosie, the Bride</h3>
          </div>

          <div class="quote">
            <p class="testimonal">“They made us feel totally at ease and when we got back our photos and videos we experienced the whole day all over again.
               I cannot recommend them enough, they are a team worth booking” :)</p>
                <h3 class="client">Louise, the Bride</h3>
          </div>

          <div class="quote">
            <p class="testimonal">“Justina made the planning so stress free by her kind, friendly and professional manner. Lloyd was brilliant on the day too.
               When the video arrived we were blown away!! It was absolutely beautiful and made me cry!” 
            </p>
            <h3 class="client">Lisa, the Bride</h3>
          </div>

        </div>
      </div>
          <a href="#" class="next">next</a>
          <a href="#" class="prev">Prev</a>


</section>