<section class="slideshow">
    <div class="quote-slideshow">
        <div class="quote-holder">
          <div class="quote">
              <p class="testimonal">“Justina and Lloyd are simply amazing. They captured our wedding day
                perfectly, we are so pleased with our beautiful pictures and video. From
                the moment we met them, we loved them. They were so professional,
                friendly and helped calmed both our nerves before and on the day. We
                are rather shy people who had never had any professionals photos
                taken before so felt rather awkward in front of the camera however,
                Justina really put us at ease and the photos and video prove how
                talented they are.” </p>

                <h3 class="client">Kit, the Bride</h3>
          </div>

          <div class="quote">
              <p class='testimonal'>
                “Lloyd filmed our wedding in May 2019. the quality of the filming and
                editing was fantastic. He did an excellent job of capturing our day and
                made us feel really comfortable. The presentation box the usb came in
                was beautiful and we will treasure the video he created forever.” 
              </p>
              <h3 class="client">Rosie, the Bride</h3>
          </div>

          <div class="quote">
            <p class="testimonal">“I dont think I can put into words how incredible Justina and Lloyd were with my
                wedding photography and videography. I spent weeks looking through websites and
                portfolios as its the one thing with our wedding we knew we wanted to be perfect
                and what a decision we made to go with instinct weddings. They were amazing
                from start to finish, getting up early to picture and film my husband then make their
                way to myself and the bridal team.. they got everything we asked whilst remaining
                professional and an absolute joy to be around. They made us feel totally at ease
                and when we got back our photos and videos we experienced the whole day all
                over again. I cannot recommend them enough, they are a team worth booking” :)</p>
                <h3 class="client">Louise, the Bride</h3>
          </div>

          <div class="quote">
            <p class="testimonal">“We used Instinct Wedding for our wedding video in May. Justina made the planning
            so stress free by her kind, friendly and professional manner. Lloyd was brilliant on
            the day too. When the video arrIved we were blown away!! It was absolutely
            beautiful and made me cry! We can’t thank Instinct Wedding enough for helping us
            have these memories to keep forever!” 
            </p>
            <h3 class="client">Lisa, the Bride</h3>
          </div>

        </div>
      </div>
          <a href="#" class="next">next</a>
          <a href="#" class="prev">Previous</a>


</section>