  <section class="mobile-container">
      <div class="mobile-menu">
          <a href="/#galleries">Portfolio</a>
          <a href="/#journal">Blog</a>
          <a href="/#about">About</a>
          <a href="/#prices">Prices</a>
          <a href="/#awards">Press</a>
          <a href="/#contact">Contact</a>
        </div>
<div class="mobile-bar">
    <a class="logo" href="/"><img src="/assets/images/logo.png" alt="Instinct Wedding"></a>

    <div class="mobile-button">
        <div></div>
        <div></div>
        <div></div>
</div>
    
    </div>

  
  </section>