<section id='prices' class="prices">
    <h2>Prices</h2>
    <div class="price-background">
    <div class="price-image-holder">
      <div>


        <div class="package-info">
            <img  src="/assets/images/Erika-and-Neil-Camber-Sands-and-Rye-Engagement-_-Instinct-Wedding-101.jpg">
            <h3>Photography</h3>
            <h3 class="sum">£ 950</h3>
          <ul>
            <li>8 Hours of Coverage</li>
            <li>One Photographer</li>
            <li>Edited Digital Images on USB</li>
            <li>Online Gallery</li>
            <div class="breaker"><img src="/assets/images/price-breaker.png"></div>

        </ul>

        </div>
        <div class="package-info">
            <img  src="assets/images/Nicollette-and-Mikey-025.jpg">

            <h3>Videography</h3>

            <h3 class="sum">£ 850</h3>
        <ul>
         <li>8 Hours of Coverage</li>
         <li>One Videographer</li>
         <li>Film on USB</li>
         <li>Film Posted Online</li>
         <div class="breaker"><img src="/assets/images/price-breaker.png"></div>

      </ul>

      </div>
        <div class="package-info">
            <img  src="/assets/images/engagment.jpg">

            <h3>Premium Collection</h3>

            <h3 class="sum">£ 1500</h3>
        <ul>
          <li>8 Hours of Coverage</li>
          <li>One Photographer</li>
          <li>One Videographer</li>
          <li>Edited Digital Images & Film on USB</li>
          <li>Onine Gallery</li>
          <li>Custom KepepSake Box</li>
          <li>Complimentary Engagement Session</li>
          <div class="breaker"><img src="/assets/images/price-breaker.png"></div>

        </ul>

        </div>
      </div>
     
    </div>
    <div class="add-ons">
        <h2>Extras</h2>
      <div class="add-on-prices"> 
        <ul>
          <li>Additional Photographer</li>
          <li>Additional Videographer</li>
          <li>Feature Film</li>
          <li>Additional Hour</li>
          <li>Ceremony and Speeches Film</li>
        </ul>
        <ul>
          <li>£250</li>
          <li>£250</li>
          <li>£400</li>
          <li>£50</li>
          <li>£100</li>
        </ul></div>
     
    </div>
  </div>
  
  </section>