<section id='prices' class="prices">
    <h2>Prices</h2>
    <div class="price-background">
    <div class="price-image-holder">
      <div>


        <div class="package-info">
            <img  src="/assets/images/Erika-and-Neil-Camber-Sands-and-Rye-Engagement-_-Instinct-Wedding-101.jpg" alt="Photography Package">
            <h3>Wedding Photography - Essential</h3>
            <h3 class="sum">£ 1450</h3>
           <!-- <div class="except">
                <p>Our Photography package includes a gorgeous mix of naturally captured, and skilfully post-processed 
                    spontaneous moments from your wedding day, captured discreetly over 8 hours of your wedding day.</p>
      
                    <p>  There's no minimum or maximum amount of photos, rather one of our photographers will photograph your day for 8 hours and we then edit all of the most beautiful, flattering images that tell your wedding day story in the best way possible.
                      </p>
            </div>
          -->
          <ul>
            <li>Photography coverage on your day for up to 5 hours</li>
            <li>One photographer</li>
            <li>An in-depth consultation where we can get to know each other, chat all about your plans, ideas and expectations for your wedding day.</li>
            <li>A minimum of 200 photos, each and every one edited with love in our signature, timeless style.</li>
            <li>Beautifully curated online wedding gallery with unlimited downloads for you and your family and friends.</li>
            <div class="breaker"><img src="/assets/images/price-breaker.png" alt="motif"></div>

        </ul>

        </div>
        <div class="package-info">
            <img  src="/assets/images/Nicollette-and-Mikey-025.jpg" alt="Videography Package">

            <h3>Wedding Photography - Classic</h3>

            <h3 class="sum">£ 1850</h3>
        <!--  <div class="except">
              <p>
                  With video package you will receive a creatively edited wedding highlight film. 
                  It will include all of the most beautiful, emotional and important moments from the day,
                   cinematically filmed and crafted into a short 5-10minute film that tells your wedding day story.</p>
         
          </div> -->
            <ul>
         <li>Wedding Photography coverage on your day for 8 hours</li>
         <li>One photographer</li>
         <li>An in-depth consultation where we can get to know each other, chat all about your plans, ideas and expectations for your wedding day.</li>
         <li>A minimum of 450 photos, each and every one edited with love in our signature, timeless style.</li>
         <li>Beautifully curated online wedding gallery with unlimited downloads for you and your family and friends.</li>
         <div class="breaker"><img src="/assets/images/price-breaker.png" alt="motif"></div>

      </ul>

      </div>
        <div class="package-info">
            <img  src="/assets/images/engagment.jpg" alt="Premium Collection Package">

            <h3>Wedding Photography - Luxury</h3>

            <h3 class="sum">£ 2550</h3>
            <!-- <div class="except">
                <p>Best of both worlds and the best value - you will have pictures to hang on your walls and a film to watch
                    over and over again and to show to your grandchildren.</p>
                     <p>Includes everything from both Photography and Video Packages at an incredible price! 
                     </p></p>With this package you will get:</p>
            </div> -->
            
        <ul>
          <li>Wedding Photography coverage on your day for up to 10 hours</li>
          <li>2 photographers on your day</li>
          <li>An in-depth consultation where we can get to know each other, chat all about your plans, ideas and expectations for your wedding day.</li>
          <li>A minimum of 550 photos, each and every one edited with love in our signature, timeless style.</li>
          <li>Beautifully curated online wedding gallery with unlimited downloads for you and your family and friends.</li>
          <li>Personalised sleeve with 60 luxury </li>
          <div class="breaker"><img src="/assets/images/price-breaker.png" alt="motif"></div>

        </ul>

        </div>
      </div>
     
    </div>
     <div class="add-ons">
        <h2>Bespoke Quotes</h2>
       <!-- <div class="add-on-prices"> 
        <ul>
          <li>Engagement Session</li>
          <li>25 -  35 Minute Feature Film</li>
          <li>Ceremony and Speeches in Full</li>
          <li>Additional Hour of Coverage</li> 
          <li>Extra hour on the day</li>
          <li>One minute teaser film ( ideal for social media )</li> 
          <li>Faster Turn-around time - starting from</li>  
          <li>Additional Photographer for 8 hours</li>
          <li>Additional Videographer for 8 hours</li> 

        </ul>
        <ul>
          <li>£250</li>
          <li>£490</li>
          <li>£250</li>
          <li>£60</li>
        
        </ul>

      </div> -->
      <h3>Are you looking for a videographer, planning an elopement, humanist ceremony, or any other adventure? <a href="#contact">Get in touch</a> for a bespoke quote.

      <h3>

    </div> 

  </div>
  
  </section>