<section id='prices' class="prices">
    <h2>Prices</h2>
    <div class="price-background">
    <div class="price-image-holder">
      <div>


        <div class="package-info">
            <img  src="/assets/images/Erika-and-Neil-Camber-Sands-and-Rye-Engagement-_-Instinct-Wedding-101.jpg" alt="Photography Package">
            <h3>Photography</h3>
            <h3 class="sum">£ 1250</h3>
            <div class="except">
                <p>Our Photography package includes a gorgeous mix of naturally captured, and skilfully post-processed 
                    spontaneous moments from your wedding day, captured discreetly over 8 hours of your wedding day.</p>
      
                    <p>  There's no minimum or maximum amount of photos, rather one of our photographers will photograph your day for 8 hours and we then edit all of the most beautiful, flattering images that tell your wedding day story in the best way possible.
                      </p>
            </div>
           
          <ul>
            <li>Wedding Photographer on your day for 8 hours</li>
            <li>An in-depth consultation where we can get to know each other (in person or over email).</li>
            <li>An online gallery with 400-600 edited photos from your day</li>
            <li>Turn-around time - 15 weeks </li>
            <div class="breaker"><img src="/assets/images/price-breaker.png" alt="motif"></div>

        </ul>

        </div>
        <div class="package-info">
            <img  src="assets/images/Nicollette-and-Mikey-025.jpg" alt="Videography Package">

            <h3>Videography</h3>

            <h3 class="sum">£ 1150</h3>
          <div class="except">
              <p>
                  With video package you will receive a creatively edited wedding highlight film. 
                  It will include all of the most beautiful, emotional and important moments from the day,
                   cinematically filmed and crafted into a short 5-10minute film that tells your wedding day story.</p>
         
          </div>
            <ul>
         <li>Wedding Videographer on the day for 8 hours</li>
         <li>An in-depth consultation where we can get to know each other (in person or over email).</li>
         <li>A cinematic 5-10 minute highlight film</li>
         <li>Online link to share with family and friends</li>
         <li>Turn around time - 15 weeks </li>
         <div class="breaker"><img src="/assets/images/price-breaker.png" alt="motif"></div>

      </ul>

      </div>
        <div class="package-info">
            <img  src="/assets/images/engagment.jpg" alt="Premium Collection Package">

            <h3>Photography & Videography</h3>

            <h3 class="sum">£ 1900</h3>
            <div class="except">
                <p>Best of both worlds and the best value - you will have pictures to hang on your walls and a film to watch
                    over and over again and to show to your grandchildren.</p>
                     <p>Includes everything from both Photography and Video Packages at an incredible price! 
                     </p></p>With this package you will get:</p>
            </div>
            
        <ul>
          <li>8 Hours of Coverage for both photography and video</li>
          <li>One Photographer</li>
          <li>One Videographer</li>
          <li>Edited Digital Images in the Online Gallery</li>
          <li>Custom Keepsake Box</li>
          <li>Turn around time - 15 weeks</li>
          <div class="breaker"><img src="/assets/images/price-breaker.png" alt="motif"></div>

        </ul>

        </div>
      </div>
     
    </div>
    <div class="add-ons">
        <h2>A la Carte Extras</h2>
      <div class="add-on-prices"> 
        <ul>
          <li>Engagement Session</li>
          <li>Additional Videographer</li>
          <li>Feature Film ( up to 30mins - 1hour, including ceremony and speeches)</li>
          <li>Extra hour on the day</li>
          <li>One minute teaser film ( ideal for social media! )</li> 
          <li>Faster Turn-around time - starting from</li>  
          <li>Additional Photographer for 8hours</li>
          <li>Additional Videographer for 8hours</li>

        </ul>
        <ul>
          <li>£250</li>
          <li>£250</li>
          <li>£490</li>
          <li>£60</li>
          <li>£250</li>
          <li>£200</li>
          <li>£250</li>
          <li>£250</li>
        </ul>
      </div>
     
    </div>
  </div>
  
  </section>