<head>
    <title>Prices - Instinct Wedding</title>
<meta property="og:title" content="Prices - Instinct Wedding - Kent based wedding photography and video couple, producing beautiful, documentary style wedding photography and films. Covering Kent, London, East Sussex, Surrey and surrounding areas.">
<meta property="og:description" content="With Instinct Wedding we offer couples several set packages to suit your budget with adaptable extras for you prefect wedding">
<meta property="og:image" content="https://www.instinctwedding.com/assets/images/about.jpg" alt="Instinct Wedding Team, Kent Wedding photography couple">
<meta property="og:url" content="http://www.instinctwedding.com/price/">

<meta name="description" content="With Instinct Wedding we offer couples several set packages to suit your budget with adaptable extras for you prefect wedding">


<!--  Non-Essential, But Recommended -->
<meta property="og:type" content="website">
<meta property="og:site_name" content="Prices Instinct Wedding">
<meta property="keywords" content=" Prices page of Instinct Wedding, Kent weddding photography and videograpghy ">

</head>