---

---


@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:700&display=swap');

$black: #000000;
$white:#FFFFFF;
$background-color:#415946;
$body-type: 'Open Sans', sans-serif;
$header-type:'Adobe Garamond Pro', serif;

 

$line-height-global:1.4;
$header-size:36px;
$sub-header-size:24px;
$body-size:14px;

$line-global:20px;




h1, h2 {
    font-size:$header-size;
}

h3{
    font-size:$sub-header-size;
}

body,
h1, h2, h3 {
    margin:0;
    
}

ul {
    font-family:$body-type
}

a {
    text-decoration:none;

}
header {
    
    width:100%;
    position: fixed;
    display:flex;
    justify-content: center;
    z-index:2;
    align-items:center;
    font-family:$header-type;
    text-transform:uppercase;
    background-color:$white;
    overflow: hidden;
    transition:all 1s ease;
    &.hidden {
        transform: translateY(-100%);
    }

    

   a { 
       color:$black;
   }
    h1 {
        margin:$line-global;
        font-family:$header-type;
    }

    nav {
        display:flex;
        width: 840px;
        margin:$line-global;
        justify-content:space-between; 
        align-items:center;     
        font-size:$body-size;
        img {
            width:250px;
            margin-left:$line-global*2;
            margin-right:$line-global*2;

        }
      }
      
    nav a {
        margin-left:$line-global;
        position:relative;
        margin-top:$line-global*3+5;
        padding-top:2px;
    

   
}



}

   
.hero {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;        
    iframe{
        position: absolute;
	top: 20%;
	left: 0;
	width: 100%;
	height: 100%;
    
    }
}


// Journal Section

.journal {
    max-width:100%;
    position:relative;
    margin-top:$line-global*9;

    .heading {
        position:relative;
        width:100%;
        font-size:$header-size;
        text-align: center;
      
    
    }
  
    .older-posts {
        display:none;
        position: absolute;
        right: $line-global*4;
        bottom:-$line-global*10;
        a {
            color:$black;
            border-bottom: 2px solid #FFB444;

        }        
        }
    
}

.journal-container {
    max-width:1200px;
    padding-top:$line-global*4;
    position:relative;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(1, 1fr 1fr);
    grid-row-gap:$line-global*10;
    margin: 0 auto $line-global*10 auto;
    .images {
        width:300px;
        height:300px;
        position: relative;
        z-index:1;
        justify-self:center;
        padding-bottom:20px;
        


        img {
            max-width:100%;
            max-height:100%;

        }
    }

    .image-background {
        background-color:$background-color;
        width:300px;
        height:300px;
        top:-$line-global*2;
        right:$line-global*2;
        z-index:-1;
        position: absolute;


    }
    .description {
        width:300px;
        padding-top:$line-global;
        line-height:$line-height-global;
        
        h3 {
            color:$black;
            img {
                padding-left:10px;
                width:15px;
                height:15px;
            }
        }
        
        
    }
   
}

// About Section 
.about {
    max-width:100%;
    max-height:100vh;
    position:relative;


    
    .about-container {
        display:flex;
        position: relative;
        right:0;
        width:100%;
        height:100vh;

        .about-image {
            display:flex;
            flex-direction:column;
            justify-content: center;
            position: relative;
            z-index:1;
            
            img{
                width:350px;
                position: absolute;
                left:100px;            }
            
        }
        .about-text {
            width:75%;
            height:100vh;
            position: absolute;
            background-color:$background-color;
            right:0;
            display:flex;
            justify-content: space-around;
            align-items:center;
            color:$white;
            font-family: $body-type;
            font-size:$body-size;
            div{
                width:350px;
                h2 {
                    margin-bottom:$line-global;
                    font-family:$header-type;
                }

            }

        }
    }

}


// Image Slideshow

.slideshow {
    max-width:100vw;
    position:relative;
}
.image-slideshow {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 75vh;
  }
  
  .holder {
    position: relative;
    top: 0;
    left: 0;
   width: 10000vw;
    height: 75vh;
   transition: left 2s ease-in-out;
  }
  
  .holder div {
   float: left;
    width: 100vw;
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .slide-1 {
    background-image: url(/assets/images/Erika-and-Neil-Camber-Sands-and-Rye-Engagement-_-Instinct-Wedding-093.jpg);
  }
  
  .slide-2 {
    background-image: url(/assets/images/Nicollette-and-Mikey-014.jpg);
  }
  
  .slide-3 {
    background-image: url(/assets/images/Erika-and-Neil-Camber-Sands-and-Rye-Engagement-_-Instinct-Wedding-107.jpg);
  }
  
  .slide-4 {
    background-image: url(/assets/images/Nicollette-and-Mikey-024.jpg);
  }


.increment-menu {
width:100%;
bottom:$line-global;
position: absolute;
display:flex;
justify-content: center;
.increment {
    height:$line-global;
    width:$line-global;
    border-radius: 20px;
    background-color:$white;
    margin-left:10px;

}


}

// Price Section 

.prices {
    max-width:100%;
    height:1200px;
    margin-left:$line-global*2;
    margin-right:$line-global*2;
    position:relative;


    h2 {
        text-align:center;
        margin-top:$line-global*4;
    }
  
    .price-background {
        width:100%;
        height:900px;
        top: 250px;
        background-color:$background-color;
        position: relative;
        z-index:0;
    }

    .price-image-holder {
        
        position:absolute;
        width:100%;
        display:flex;
        top:-250px;
        justify-content: center;
        
    div {
        margin-top:$line-global*4;
        display:grid;
        max-width:1200px;
        margin-left:$line-global*4;
        margin-right:$line-global*4;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows:repeat(300px, 100px, 300px);
        grid-column-gap: $line-global*2;
        img {
            justify-self:center;
            max-width:100%;
            filter:grayscale(100%);

        }
        h3 {
            padding-top: $line-global;
            color:$white;
            
        }
        .package-info {
            display:block;
            justify-self:start;
            margin:0;
            color:$white;
            padding-left:$line-global/2;
            padding-top:$line-global;
            font-family: $body-type;
            li {
                line-height:$line-global*1.5;

            }

        }
        
        }   
    }

    .add-ons {
        position: absolute;
        width:100%;
        color:$white;
        bottom:$line-global*2;
    }

    .add-on-prices {
        width:100%;
       display:grid;
       grid-template-columns:1fr 1fr;
        ul {
        justify-self: center;
        
        }
        li {
            list-style-type: none;
            padding-bottom:$line-global;

        }
    }


}


// Award Section 

.awards {
    position:relative;
    width:100%;
    height:50%;

    h2 {
        margin-top:$line-global*4;
        text-align:center;
    }
    .award-badges {
        margin-top:$line-global*2;

        margin-right:auto;
        margin-left:auto;
        text-align:center;
        img{
            padding-left:$line-global*2;
            padding-right:$line-global*2;

            width:250px;
        }
    }
   
}

// Contact Form 

.contact {
    max-width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    margin:$line-global*2;
    .contact-quote {
        margin:$line-global*2;
        position:relative;
        display:flex;
        justify-content: center;
        align-items:center;
        h2 {
            position: absolute;
            top:75px;
            left:-40px;
            width:350px;
            font-size:72px;
            color:#FFB444   
        }
    }
    .contact-form {
    

        margin:$line-global*2;

        form {
            height:100%;
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            font-family: $body-type;
            font-size:$body-size;
                       }

                       
            input {
                width:300px;
                margin-bottom:$line-global/2;
                border: solid 2px $background-color;
                padding: $line-global/4 $line-global/4 $line-global/4 $line-global/4;
                font-family: $body-type;
                font-size:$body-size;
                
            }
            
            textarea {
                width:300px;
                border: solid 2px $background-color;
                height:200px;
                padding: $line-global/4 $line-global/4 $line-global/4 $line-global/4;
                font-family: $body-type;
                font-size:$body-size;
                resize:none;
               
                
            }
            .submit {
                width:100%;
                height:$line-global*2;
                margin-top:$line-global/2;

                cursor:pointer;
                
                color:$white;
                background-color:$background-color;
                border: solid 2px $background-color;
                font-family:$body-type;
                font-size:$body-size;
            }
    }

}

// Footer 

footer {
    
    h3 {
        padding-bottom:$line-global*2;
        padding-top:$line-global;
        color:$white;

    }

    width:100%;
    height:260px;
    background-color:$background-color;
    position: relative;
   
    a {
        display:flex;
        flex-direction:column;
        text-decoration:none;
        color:$white;
        font-family:$body-type;
        padding-bottom:$line-global/2;
        &:hover {
            color:#FFB444;

        }

       
    }

    .media {
        position: absolute;
        padding:$line-global $line-global*2;
    }

    .links-right{
        display:flex;
        position:absolute;
        padding:$line-global $line-global*2 ;
        right:0;
        top:0;

        .secondary-sections {
            padding-left:$line-global*4;
            margin-top:$line-global*4+10;;
            
        }
    }

}

