---

--- 

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:700&display=swap');


$black: #000000;
$white:#FFFFFF;
$background-color:#415946;
$body-type: 'Cormorant Garamond', serif;


$line-height-global:1.4;
$header-size:36px;
$body-size:18px;

$line-global:20px;

h1 {
    font-size:$header-size;
}

body {
    font-size:$body-size;
}

body,
h1 {
    font-family:$body-type;
    margin:0;
}

a {
    text-decoration:none;
}
header {
    width:100%;
    position: relative;
    display:flex;
    z-index:2;
    align-items:center;
    font-family:$body-type;
    a {
        color:$black;

    }
    h1 {
        margin:$line-global;

    }

    nav {

        margin:$line-global;
        position: absolute;
        right:0;
        font-size:$body-size;
      }

    nav a {
        margin-left:$line-global;
        padding-bottom:$line-global/4;
    }
}

nav a:hover {
    border-bottom: solid 2px #FFB444;
}

.post-container,
    img,
    iframe {
    max-width:720px;
    
    margin-left:auto;
    margin-right:auto;
    h2 {
        margin: $line-global auto $line-global*4 auto;
        width:540px;
        text-align:center;
        font-size:$header-size;
    }
    div {
        margin-bottom:$line-global*4;
    }
}



