<!DOCTYPE html>
<html lang="en">

    
    <head>
        
        <title>Instinct Wedding | Wedding Photography in Kent </title>
        <meta name="Description" content="Find out who is Instinct Wedding team, what we do and contact us about your wedding photography or videography.">

        <meta name="viewport" content="width=device-width, initial-scale=1">


        <meta property="og:title" content="Instinct Wedding | Wedding Photography in Kent">
        <meta property="og:description" content="Find out who is Instinct Wedding team, what we do and contact us about your wedding photography or videography.">
        <meta property="og:url" content="http://instinctwedding.com">
        

<meta property="og:url" content="http://instinctwedding.com">


<!--  Non-Essential, But Recommended -->

<meta property="og:site_name" content="Instinct Wedding">
<meta property="keywords" content="documentary, kent, natural, photography, uk, videography, wedding">
 
       
        <link rel="stylesheet" href="/assets/css/app.css">
      
       
    </head>

    <body>
        {% include header.html %}
        {% include mobile-header.html %}

        
       {{ content }}
    </body>
    <script src="/assets/scripts/jquery.min.js"></script>
    <script src="/assets/scripts/slideshow.js"></script>
    <script src="/assets/scripts/scroll.js"></script>
    <script src="/assets/scripts/mobile.js"></script>
</html>