<!DOCTYPE html>
<html>
    <head>
        
        <title>Instinct Wedding | Wedding Photography in Kent </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/app.css">
       
    </head>

    <body>
        
        {% include header.html %}
       {{ content }}
    </body>
    <script src="/assets/scripts/jquery.min.js"></script>
    <script src="/assets/scripts/slideshow.js"></script>
    <script src="/assets/scripts/scroll.js"></script>
</html>