<!DOCTYPE html>
<html lang="en">

    <head>
      <script async defer data-domain="instinctwedding.com" src="https://plausible.io/js/plausible.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126992069-2');
</script>
        <link rel="stylesheet" href="/assets/css/app.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        {% include header.html %}
        
        {% include mobile-header.html %}

        
       {{ content }}
    </body>
    <script src="/assets/scripts/jquery.min.js"></script>
    <script src="/assets/scripts/main.js"></script>
    <script src="/assets/scripts/slideshow.js"></script>
    <script src="/assets/scripts/quote-slideshow.js"></script>
    <script src="/assets/scripts/scroll.js"></script>
    <script src="/assets/scripts/mobile.js"></script>
    
</html>